#
# kickstart to pull down and install OCI container as the operating system
#

# This will be a graphical environment
graphical
lang en_US.UTF-8
keyboard us
timezone --utc America/New_York

network --bootproto=dhcp --device=link --activate

# Basic partitioning
clearpart --all --initlabel --disklabel=gpt
reqpart --add-boot
part / --grow --fstype xfs

# Here's where we reference the container image to install--notice the kickstart
# has no '%packages' section! What's being installed here is a container image.
ostreecontainer --url {{ container_repo }}:base

# optionally add a user
user --name {{ edge_user }} --groups wheel --iscrypted --password {{ edge_hash }}
sshkey --username {{ edge_user }} "{{ ssh_pub_key }}"

reboot
{% if registry_insecure | bool %}

%pre
mkdir -p /etc/containers/registries.conf.d
cat > /etc/containers/registries.conf.d/999-local-registry.conf << EOF
[[registry]]
location = "{{ host_ip }}:{{ registry_port }}"
insecure = true
EOF
%end
{% endif %}
